{% extends 'shared/_layout.html' %}
{% load render_partial %}

{% block title %}
    تغییر کلمه عبور
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {% comment %} {% if current_user.avatar %}
                    <a class="thumbnail">
                        <img style="width: 100%" src="{{ current_user.avatar.url }}" alt="">
                    </a>
                {% else %}
                    <img class="media-object" src="/static/images/blog/Customer.jpg" alt="">
                {% endif %}{% endcomment %}
                {% render_partial 'user_panel_module.views.user_panel_menu_component' %}
            </div>
            <div class="col-md-8">
              {% comment %}  {% if change_pass_form.errors %}
                    {% for field in change_pass_form.fields %}
                        {% for error in field.error %}
                            <div class="alert alert-danger">
                                <strong>
                                    {{ error|escape }}
                                </strong>
                            </div>
                        {% endfor %}
                    {% endfor %}
                {% endif %}{% endcomment %}

                <form action="{% url 'change_password_page' %}" method="post">
                    {% csrf_token %}
                    {{ change_pass_form.as_p }}
                    <button type="submit" class="btn btn-success">ثبت</button>
                </form>
            </div>
        </div>
    </div>

{% endblock %}